{% extends 'anonymous/base.html' %}
{% block css%}
<style>
    .gallery{
        position:relative;
        margin:0;
        padding:0;
      }
      
    .gallery  li{
        text-align:center;
        display:inline-block;
        list-style:none;
        position:relative;
        border:solid 12px #fff;
        background:#fff;
        box-shadow:0 0 15px 0px #555;
        transition:all 1s ease;
        -o-transition:all 1s ease;
        -moz-transition:all 1s ease;
        -webkit-transition:all 1s ease;
        top:50px;
      }
      
      
    .gallery  li:hover{
        top:0px;
        opacity:0.5;
      }
      .gallery li:nth-child(1){
        transform:rotate(10deg);
    }
      {% for g in count %}
     .gallery li:nth-child({{g}}){
          transform:rotate(15deg);
      }
      {% endfor %}
      
      
      .light{
        border-radius:50%;
        position:absolute;
        left:0;
        right:0;
        width:7000px;
        height:700px;
        background:#fff;
        filter:blur(100px);
        opacity:0.3;
        pointer-events:none;
      }
</style>
{% endblock %}
{% block main %}
{% if gallery %}
<h1 style="text-align: center;">{{events.name}}</h1><br><br>
<ul class="gallery">
    {% for g in gallery %}
    <li><a href="{{g.image.url}}"><img src="{{g.image.url}}" width="400"></a>
        {% if g.name %}
      <p>{{g.name}}</p>
      {% endif %}
      <p>{{g.event}}</p>
    </li>
    {% endfor %}
  </ul>
{% else %}
<h1 style="text-align: center;">No Posted gallery in {{events.name}}</h1><br><br>
{% endif %}

{% endblock %}